.main {
  text-align: center;
  margin: 20px;
}

.search-input {
  border: 1px solid black;
  padding: 6px;
  width: 600px;
  margin-top: 20px;
  padding: 10px;
  /* border-radius: 20px; */
}
.result-container {
  width: 600px;
  margin: auto; /* To make it center */
  border: 1px solid black;
  padding: 5px;
  text-align: left;
  max-height: 500px;
  overflow-y: scroll;
}
.result {
  display: block;
  padding: 5px;
}
.result:hover {
  background-color: greenyellow;
  font-weight: 600;
}